[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

# Logs on dedicated partition /var/log/mysql (mounted on /dev/sda1)
log-error=/var/log/mysql/mysqld.log
general_log_file=/var/log/mysql/general.log
slow_query_log_file=/var/log/mysql/slow-query.log
slow_query_log=1
long_query_time=2
